/* .title {
    font-size: 4rem;
    text-align: center;
    background-color: teal;
    padding: 20px;
} */

.content {
    text-align:center;
    padding: 10px;
    margin-left:35px;
}
.content h1 {
    font-size: 3rem;
}
.content p {
    font-size: 2rem;
    width: 600px;
}
.PASSgen {
    background-color:darkcyan;
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
